body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #132e4c;
    height: 300px;    
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D3D3D;
    background-image: linear-gradient(to right, #FDFDFD,  #DEDEDE);
    text-decoration: none;
    border-radius: 30px;
    width: 7.5em;
    height: 2em;
}